body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(132deg, #5292e2, #0b43a8, #5292e2);
}

body * {
  font-family: 'DM Sans', sans-serif !important;
}
