body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header > h1 {
  margin: 0;
  padding: 1rem;
  color: #fff;
}

h3 {
  color: #153d77;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover {
  color: rgb(9, 97, 169);
  text-shadow: #53c7ef;
}
